{% extends "home.html" %}
{% block content %}



<div class="row form-group m-b-10">
    <label for="team-name">Team Name</label>
    <input type="text" class="form-control" placeholder="Enter Team Name" name="team-name"/>
    <label for="general-manager">General Manager Name</label>
    <input type="text" class="form-control" placeholder="Enter General Manager Name" name="general-manager-name"/>
    <label for="email">General Manager Email Address</label>
    <input type="email" class="form-control" placeholder="Enter GM Email" name="email" />
</div>


{% endblock %}